table {
    width: 100%;
}

 .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #54A3F9;
  }
  
 .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #0069D9;
  }
  
 .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #54A3F9;
  }
  
 .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #0069D9;
  }

.mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: #54A3F9 !important;
  }
  
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #00abcc  !important
  }
  
  
  