<div class="row col-12">
  <div class="center btn-panel-reverse text-right">
    <button class="btn btn-primary mr-1"
            type="button"
            id="getButton"
            (click)="getCompanies()">
            GET COMPANIES
    </button>
  </div>

</div>
<div class="row" *ngIf="dataSource.data !==null && dataSource.data.length > 0 " >
  <div class="col-12">
    <div class="mat-elevation-z8 table-responsive prettyprint">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"  matSort matSortDisableClear="true">
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element" width="33%"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="segment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Segment</th>
          <td mat-cell *matCellDef="let element" class="p-0" width="33%"> {{element.segment}} </td>
        </ng-container>
        <ng-container matColumnDef="deviation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Standard Deviation</th>
          <td mat-cell *matCellDef="let element" class="p-0" width="34%"> {{element.deviation}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="p-0"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>